﻿ <%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Task2.aspx.cs" Inherits="Sol_DropDownlistTask1.Task2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">

      
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:ScriptManager ID="scriptManger" runat="server">
            </asp:ScriptManager>

            <asp:UpdatePanel ID="updatePanel" runat="server">
                <ContentTemplate>
                
                    <table>
                       
                        <tr>
                            <td>
                                <asp:DropDownList ID="ddlColor" runat="server" AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChangeColor">
                                    
                                    <asp:ListItem Value="1" >Red</asp:ListItem>
                                    <asp:ListItem Value="2">Green</asp:ListItem>
                                    <asp:ListItem Value="3">Yellow</asp:ListItem>


                                </asp:DropDownList>  
                            </td>
                        </tr>
                              <tr>
                            <td>
                               <div id="divColour" runat="server">
                                   <h1>
                                       Test

                                   </h1>

                               </div>
                            </td>
                        </tr>
                    </table>
                    
                   
                
                
                </ContentTemplate>
            </asp:UpdatePanel>
    </div>
    </form>
</body>
</html>
